---

---

<div id="container" class="max-w-base flex">
    <div>
        <img src="/fotopersonal.png" alt="">
    </div>
    <div class="flex self-center">
        <p class="text-white">Me llamo <span class="font-bold">Juan Vidable</span>, tengo 20 años, me encuentro en Mendoza - Argentina y soy un aficionado a la tecnología.
        Me autodescribo como una persona muy tranquila y amigable. Creo firmemente en el poder del trabajo en equipo y en la sinergia que surge cuando las mentes creativas se unen para lograr un objetivo común.<br><br> Lo que realmente me <span class="font-bold">motiva</span> es la oportunidad de <span class="font-bold">trabajar en proyectos que tienen un impacto positivo en el mundo, ya sea ayudando a otras personas o contribuyendo al éxito de una empresa.</span> Me encanta el desafío de convertir pensamientos en realidad y encontrar soluciones creativas a problemas complejos.
        <br><br>
        Mis hobbys son tocar la guitarra, jugar videojuegos y entrenar en el gimnasio.
        </p>
    </div>
</div>

<style>
    #container{
        border-bottom: 5px solid white;
        margin: 0 50px;
        border-radius: 12px;
    }
    img{
        max-width: 400px;
        max-height: 600px;
        filter: brightness(0.7);
    }
</style>