<header class="">
    <nav >
        <ul>
            <li><a href="#">Proyectos</a></li>
            <li><a href="#">Estudios</a></li>
            <li><a href="#">Sobre mi</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>

<style>
    header{
        width: 100%;
        padding: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 20px;
       position: absolute;
       z-index: 99;
    }

    nav{
        
        min-width: 40%;
        background-color: rgba(30,41,54,255);
        padding: 15px;
        border-radius: 13px;
        border: 1px solid;
        border-color: #4a5562;
    }
    ul{
        list-style-type: none;
        color: white;
        display: flex;
        justify-content:space-around;
        text-align: center;
        padding-left: 0;
    }
    a{
        text-decoration: none;
        color: white;
        
    }
    a:hover{
        color: rgba(155, 155, 155, 0.822);
        transition: 300ms;
    }
    
</style>