---

---

<div class="flex">
    <div>
        <img src="/UTN_logo.jpg" alt="" srcset="" class="max-w-24 ">
    </div>
    <div class="flex flex-col justify-center text-white">
        <h3>UTN</h3>
        <strong>Tecnicatura en programacion</strong>
        <span>ene. 2021 - En curso</span>
    </div>
</div>

<style>
    img{
        mix-blend-mode: multiply;
    }
    
</style>