---
const { university } = Astro.props
const { title } = Astro.props
const { period } = Astro.props
const { logo } = Astro.props
const { icon } = Astro.props

---

<div class="">
    <article class="flex gap-4 border-gray-700 max-w-base px-4 py-2">
        
            <div class="flex justify-center">
                <img src={logo} alt="" srcset="" class="max-w-24 max-h-24 text-center m-auto">
            </div>
            <div class="flex flex-col justify-center text-white">
                <h3 class="text-2xl font-bold">{university}</h3>
                <span class="text-xl font-light text-gray-400">{title}</span>
                <span class="text-base font-light text-gray-500">{period}</span>
            </div>
                
        
    </article>
</div>

<style>
    
</style>