---
import CSharp from "./icons/CSharp.astro";
import Java from "./icons/Java.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import Tailwind from "./icons/Tailwind.astro";
import Unity from "./icons/Unity.astro";
import AstroIcon from "./icons/Astro.astro";
import NET from "./icons/NET.astro";
import Spring from "./icons/SpringBoot.astro";
import MySQL from "./icons/MySQL.astro";
import Mongo from "./icons/Mongo.astro";
---

<div>
    <p class="text-white my-5">Tecnologías que he aprendido a medida del tiempo, tanto en la universidad como por cuenta propia.</p>
    <div class="flex justify-around gap-5 w-full my-8">
        <div class="flex">
            <ReactIcon/>
            <AstroIcon/>
            <Tailwind/>
        </div>
        <div class="flex gap-4">
            <Java/>
            <Spring/>
            <CSharp/>
            <NET/>
        </div>
        <div class="flex gap-4">
          
            <MySQL/>
            <Mongo/>
        </div>
        <div class="flex gap-4">
            <Unity/>
        </div>
    </div>
</div>