---
import React from 'react';
import BgVideo from '../media/Rain.mp4'


---

<div class='absolute top-0 left-0 w-full h-full '>    
        <video src={BgVideo} autoplay muted loop class='w-full h-full object-cover opacity-5'></video>
</div>


